html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-caret {
  background-color: #ffbb00;
}

.custom-caret-blink {
  animation: blinkcaret 1s infinite steps(1, start);
}

body {
  caret-color: transparent;
}

@keyframes blinkcaret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
